<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/ordinaryNav::odinaryNav_header(~{::title},~{},~{::style},~{::script})">
    <meta charset="UTF-8">
    <title>我的书桌</title>
    <style>
        .bbc-di-first{width: 100%;}
        .bbc-di-center{width: 1376px; margin:auto; padding: 20px; }
        .oneBook{width: 170px; height: 260px; border: 1px solid firebrick; text-align: center;float: left; margin:30px 0 0 50px; overflow: hidden;}
        .oneBook img{height: 200px; min-width: 170px; overflow: hidden;padding: 1px; }
        .oneBook img:hover{cursor: pointer;}
    </style>
    <script th:inline="javascript">
        $(function () {

            $(".oneBook").click(function () {
                let bId = $(this).children().first().val();
                let ctxPath = [[${#request.getContextPath()}]];
                let tempWindow=window.open('_blank');
                tempWindow.location = ctxPath + "/browserBook?bId=" + bId + "&userMark=" + $(".userMark").val();
            });

        })
    </script>
</head>
<body>
<div th:replace="public/ordinaryNav::nav"></div>
<input class="userMark" type="hidden" th:value="${userMark}">
<div class="bbc-di-first"><!--可有可无-->
    <div class="bbc-di-center">
        <div class = "oneBook" th:each="book : ${books}">
            <input name ="cId" type="hidden" th:value="${book.getbId()}">
            <img th:src="${book.getCoverPhotoUrl()}">
            <div class="cla-one" th:text="${book.getName()}"></div>
        </div>

    </div>

    <br style="clear:both;" />

</div>

<div style="width: 100%; height: 100px"></div>


</body>
</html>